<div class="carousel-wrapper">
  <button class="scroll-button prev" (click)="scrollLeft()">&#10094;</button>
  <div class="carousel-content" #carouselContent>
    <div class="carousel-item" *ngFor="let item of items">
      <div class="card">
        <img [src]="item.image" class="card-img-top" [alt]="item.alt">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
        </div>
      </div>
    </div>
  </div>
  <button class="scroll-button next" (click)="scrollRight()">&#10095;</button>
</div>
