<div class="container mt-3">
    <div class="row">
        @for (item of data;track item.id){
        <div class="col-4">
            <a [routerLink]="['/districtlist',item.title]" style="text-decoration: none;">
                <div class="card">
                    <img class="card img-top" [src]="item.imagesrc" />
                    <div class="m-3">
                        <div id="title" [routerLink]="['/districtlist',item.title]">{{item.title}}</div>
                        <div id="description">{{item.description}}</div>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>
</div>
