.navbar {
  background-color: transparent;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}

.navbar a {
  color: rgb(10, 9, 9);
}

.navbar-brand img {
  width: 40%;

 border-radius: 10px;
  box-shadow: 2px 2px 4px grey;
}
