
<div class="container-fluid home-container p-0">
  <img [src]="item.image1" alt="Temple" class="img-fluid w-100">
  <div class="overlay d-flex justify-content-center align-items-center">
    <div class="content text-center">
      <h1>{{item.name}}</h1>
    </div>
  </div>
</div>
<div class="aboutcity" style="background-image: url('{{item.image2}}');">
  <div class="container d-flex flex-column justify-content-center align-items-center firstcontent">
    <h2 id="title">About City</h2>
    <p class="text-center">{{item.introduction}}</p>
  </div>
</div>
<div class="text-center">
  <h2 class="title">Top Attractions</h2>
</div>

<div id="cardCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">

      @for (attractions of item.top_attractions;track attractions.name) {

      <div class="card">
        <img [src]="attractions.imagesrc" class="card-img-top" alt="Image 1">
        <div class="card-body">
          <h5 class="card-title">{{attractions.name}}</h5>
          <p class="card-text">{{attractions.description}}</p>
        </div>
      </div>

      }

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#cardCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#cardCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
