<div class="body">
  <div class="signup_form">
    <form #signupform="ngForm" (ngSubmit)="signup(signupform)">
      <h3>Registration Form</h3>

      <div class="input_box">
        <label for="fullname">Full Name</label>
        <input type="text" id="fullname" placeholder="Enter full name" name="fullname" ngModel required />
        <div *ngIf="signupform.controls['fullname']?.invalid && (signupform.controls['fullname']?.dirty || signupform.controls['fullname']?.touched)" class="error-message">
          Full name is required.
        </div>
      </div>

      <div class="input_box">
        <label for="email">Email Address</label>
        <input type="email" id="email" placeholder="Enter email address" name="email" ngModel required email />
        <div *ngIf="signupform.controls['email']?.invalid && (signupform.controls['email']?.dirty || signupform.controls['email']?.touched)">
          <div *ngIf="signupform.controls['email']?.errors?.['required']" class="error-message">Email is required.</div>
          <div *ngIf="signupform.controls['email']?.errors?.['email']" class="error-message">Invalid email format.</div>
        </div>
      </div>

      <div class="input_box">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter Password" name="password" ngModel required />
        <div *ngIf="signupform.controls['password']?.invalid && (signupform.controls['password']?.dirty || signupform.controls['password']?.touched)" class="error-message">
          Password is required.
        </div>
      </div>

      <div class="input_box">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirm-password" placeholder="Confirm Password" name="confirmPassword" ngModel required />
        <div *ngIf="signupform.controls['confirmPassword']?.invalid && (signupform.controls['confirmPassword']?.dirty || signupform.controls['confirmPassword']?.touched)" class="error-message">
          Confirm Password is required.
        </div>
      </div>

      <div class="input_box">
        <label for="phone">Phone Number</label>
        <input type="tel" id="phone" placeholder="Enter phone number" name="phone" ngModel required pattern="[0-9]{10}" />
        <div *ngIf="signupform.controls['phone']?.invalid && (signupform.controls['phone']?.dirty || signupform.controls['phone']?.touched)" class="error-message">
          Phone number of 10 digits required.
        </div>
      </div>

      <div class="input_box">
        <label for="dob">Birth Date</label>
        <input type="date" id="dob" placeholder="Enter birth date" name="dob" ngModel required />
        <div *ngIf="signupform.controls['dob']?.invalid && (signupform.controls['dob']?.dirty || signupform.controls['dob']?.touched)" class="error-message">
          Birth date is required.
        </div>
      </div>

      <div class="input_box gender-box">
        <label for="gender">Gender</label><br>
        <input type="radio" id="male" name="gender" value="male" ngModel required />
        <label for="male">Male</label>
        <input type="radio" id="female" name="gender" value="female" ngModel required />
        <label for="female">Female</label>
        <input type="radio" id="others" name="gender" value="others" ngModel required />
        <label for="others">Others</label>
      </div>

      <button type="submit" [disabled]="signupform.invalid">Submit</button>
    </form>
    <p class="signin">Already have an account? <a (click)="toggleVisibility()">Sign in</a></p>
  </div>
</div>
